/* reset margin,padding */
body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.banner {
    height: 500px;
    padding: 20px;
    background: url('./banner.jpg') center center no-repeat;

    .about-sign-in {
        width: 100%;
        height: 80px;
        text-align: right;

        .about,
        .sign-in {
            text-decoration: none;
            margin-top: 60px;
            display: inline-block;
            padding: 7px 15px;
            text-transform: uppercase;
            color: black;
        }

        .sign-in {
            margin-right: 60px;
            margin-left: 20px;
            border: 2px solid greenyellow;
            border-radius: 20px;
            color: greenyellow;
        }
    }

    .logo {
        background: url('./hapoERP.png') center center no-repeat;
        height: 100px;
        margin-top: 40px;
    }

    .content-center {

        .left,
        .right,
        .center {
            width: 33%;
            display: inline-block;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        span {
            color: red;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }

    .text {
        text-align: center;
        margin-top: 20px;

        span {
            display: block;
            font-size: 20px;
        }
    }

    .button-start-now {
        text-align: center;

        button {
            text-transform: uppercase;
            border-radius: 20px;
            border: 2px solid green;
            margin-top: 20px;
            padding: 5px 15px;
            cursor: pointer;
        }
    }
}